@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
* {
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, span {
    color: #242424;
    text-align: center; 
    line-height: 1.25;
}

h1 {
    font-size: 36px;
}

p {
    line-height: 1.5;
    font-size: 16px;
}

.link__hover-effect:hover {
    text-decoration: underline;
} 

a {
    text-decoration: none;
    transition: opacity 300ms ease;
}

a:hover {
    opacity: 0.7;
}

li {
    list-style-type: none;
}

.flex {
    display: flex;
}

.flex-1 {
    flex: 1;
} 

.container {
    padding: 50px 0;
}

.row {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.text--purple {
    color: #6030b1
}

section:nth-child(even) {
    background-color: #f8f8f8;
}

.section__title {
    margin-bottom: 20px;
}

/* NAVIGATION BAR */

nav {
    height: 100px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__link--list {
    display: flex;
}

.nav__link--anchor {
    margin: 0 12px;
    color: #242424;
    font-weight: 700;
}

.nav__link--anchor-primary {
    background-color: #6030b1;
    padding: 8px 20px;
    border-radius: 50px;
    color: white;
    transition: all 300ms ease;
}

.nav__link--anchor-primary:hover {
    background-color: #5d3eff;
}

.personal__logo {
    font-size: 24px;
    color:#6030b1;
    margin: 0 12px;
    font-weight: bold;
}

/* ABOUT ME */

#about-me {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.about-me__info {
    display: flex;
    flex-direction: column;
}

.about-me__info--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}

.about-me__picture--mask {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.16);
    margin-bottom: 28px;
    animation: animate-profile-picture 800ms 200ms backwards;
}

@keyframes animate-profile-picture {
    0% {
        transform: scale(0);
    }

    80% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.about-me__picture {
    width: 100%;
    transform: translateY(-30px);
}

.about-me__info--para {
    font-size: 20px;
    margin-bottom: 28px;
    animation: fade-up 650ms 400ms backwards;
}

.about-me__info--title {
    margin-bottom: 16px;
    animation: fade-up 650ms 400ms backwards;
}

.about-me__link {
    font-size: 20px;
    color: black;
    padding: 0 10px;
    animation: fade-up 650ms 600ms backwards;
}

.about-me__links {
    animation: fade-up 650ms 800ms backwards;
}

@keyframes fade-up {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.about-me__img--container {
    margin: 50px auto;
}

.about-me__img {
    animation: fade-in 1300ms 800ms backwards;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    } 
    100% {
        opacity: 1;
    }
}

/* TECH STACK */

.language__img {
    width: 100%;
    max-width: 100px;
    transition: all 300ms ease;
}

.language {
    width: 25%;
}

.language__img:hover {
    filter: brightness(80%);
    opacity: 0.86;
    transform: scale(0.9)
}

.language__img--wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 16px;
}

.language__list {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}

/* PROJECTS */

.project__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.project__img {
    width: 50%;
    box-shadow: 0 20px 80px rgba(0, 0, 0, 0.45);
    border-radius: 20px;
}

.project__img:hover {
    opacity: 0.3;
    transition: all 300ms ease;
}

/* FOOTER */

footer {
    background-color: #242424;
}

.footer__row {
    display: flex;
    flex-direction: column;
    padding: 4% 0;
    align-items: center;
    justify-content: center;
}

.footer__social--link,
.footer__copyright {
    color: #fff;
}

.footer__logo {
    margin-bottom: 20px;
}

.footer__logo:hover {
    opacity: 0.75;
}

.footer__social--list {
    width: 100%;
    display: flex;
    max-width: 500px;
    justify-content: space-around;
    margin-bottom: 28px;
}

/* Small phones, tablets and large smartphones */
@media (max-width: 768px) {
    nav {
        height: 60px;
    }

    h1 {
        font-size: 28px;
    }

    .about-me__info--para {
        font-size: 18px;
    }

    .language {
        width: calc(100 / 3);
    }
}

/* Small phones */

@media (max-width: 480px) {
    .nav__link:not(:last-child) {
        display: none;
    }

    .image {
        width: 50%;
    }

    .about-me__img--container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}